@using Lab1_TranNguyenDat.Models
@model Lab1_TranNguyenDat.Models.Nhasanxuat
@{
	Layout = null;
}
<h2>Xóa thông tin nhà sản xuất</h2>
<h3>Bạn muốn xóa nhà sản xuất này ?</h3>
<form method="post">
	<div class="form-group">
		<table border="1" cellpadding="5" cellspacing="0">
			<tr>
				<th>Tên nhà sản xuất</th>
				<th>Địa chỉ</th>
			</tr>
			<tr>
				<td>
					<input type="hidden" name="mansx" value="@Model.Mansx" />
					<label for="tennsx">@Model.Tennsx</label>
				</td>
				<td>
					<label for="diachi">@Model.Diachi</label>
				</td>
			</tr>
		</table>
	</div>
	<br />
	<div class="form-group">
		<input type="submit" value="Xóa" />
	</div>
	<br />
	<div>
		<a href="@Url.Action("index")">Quay lại</a>
	</div>
</form> 