@using Lab1_TranNguyenDat.Models
@model Lab1_TranNguyenDat.Models.Hanghoa

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Thêm hàng hóa</title>
</head>
<body>
    @{
        QLBHContext db = new QLBHContext();
        List<SelectListItem> ls = new List<SelectListItem>();
        SelectList DSLoai = new SelectList(db.Loaihanghoas.ToList(), "Maloai", "Tenloai");
        SelectList DSNSX = new SelectList(db.Nhasanxuats.ToList(), "Mansx", "Tennsx");
    }
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h2>Thêm hàng hóa</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger">
                    <span>Các lỗi cần khắc phục:</span>
                </div>
            </div>
            <div class="card-body">
                <form action="themHH" method="post">
                    <div class="form-group">
                        <label asp-for="Mahang" class="control-label"></label>
                        <input asp-for="Mahang" class="form-control" />
                        <span asp-validation-for="Mahang" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Tenhang" class="control-label"></label>
                        <input asp-for="Tenhang" class="form-control" />
                        <span asp-validation-for="Tenhang" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Donvitinh" class="control-label"></label>
                        <input asp-for="Donvitinh" type="text" class="form-control" />
                        <span asp-validation-for="Donvitinh" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Dongia" class="control-label"></label>
                        <input asp-for="Dongia" type="number" class="form-control" />
                        <span asp-validation-for="Dongia" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Hinh" class="control-label"></label>
                        <input asp-for="Hinh" type="file" class="form-control" />
                        <span asp-validation-for="Hinh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Maloai" class="control-label"></label>                      
                        <select asp-for="Maloai" asp-items="@DSLoai" class="form
        control"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Mansx" class="control-label"></label>
                        <select asp-for="Mansx" asp-items="@DSNSX" class="form
        control"></select>
                        <span asp-validation-for="Mansx" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                    <div>
                        <a href="@Url.Action("Index")" class="btn btn-secondary">Quay lại</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>
